/* Clients */
.section-clients {
  display: flex;
  justify-content: center;
}
.section-clients-item {
  width: 170px;
  height: 92px;
  & + & {
    margin-left: 30px;
  }
}

.section-clients-link {
  width: 100%;
  height: 100%;
  @extend %align-list;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ffffff;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.section-clients-icon {
  fill: currentColor;
}
